apiVersion: v1
kind: PersistentVolume
metadata:
 name: mongo-pv
spec:
  capacity:
    storage: 4Gi
  accessModes:
    - ReadWriteOnce
  csi:
    driver: disk-csi-driver.mks.ycloud.io
    fsType: ext4
    volumeHandle: fhmhmk31eu4kjhopi7a1

